<div class = comment-body>
    <h1>내가 쓴 댓글</h1>
    <br>
    <table class="comment-table">
        <tbody>
            <% comments.forEach(comment => { %>
            <tr>
                <td>
                    <%= comment.comment_id %>
                </td>
                <td>
                    <a href="/post/<%= comment.post_id %>" style="text-decoration: none; color: #000000;">
                        <%= comment.comment_content %>
                    </a>
                </td>
                <td>
                    <% let date = new Date(comment.created_at); %>
                    <%= date.getFullYear() %>.<%= (date.getMonth() + 1) %>.<%= date.getDate() %>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
    <% const endPage = (Math.floor((currentPageId - 1) / 5) + 1) * 5 %>
    <% const startPage = endPage - 4 %>
    <% const totalPages = Math.floor((length - 1) / 10) + 1 %>
    <div class="footer">
        <% if(startPage > 1) { %>
            <a href="<%= `${currentURL.substring(0, currentURL.lastIndexOf('/') + 1)}${parseInt(currentPageId) - 1}` %>" style="text-decoration: none; color: #000000;">
                &lt;
            </a>
        <% } else { %>
            &lt;
        <% } %>    
        <% let maxPagesToShow = 5; %>
        <% for(let i = startPage; i <= Math.min(endPage, startPage + maxPagesToShow - 1); i++) { %>
            <% if(i <= totalPages) { %>
                <% if(i === parseInt(currentPageId)) { %>
                    <%= i %>
                <% } else { %> 
                    <a href="<%= `${currentURL.substring(0, currentURL.lastIndexOf('/') + 1)}${i}` %>" style="text-decoration: none; color: #000000;">
                        <%= i %>
                    </a>
                <% } %>
            <% } %>
        <% } %>   
        <% if(endPage < totalPages) { %>
            <a href="<%= `${currentURL.substring(0, currentURL.lastIndexOf('/') + 1)}${parseInt(currentPageId) + 1}` %>" style="text-decoration: none; color: #000000;">
                &gt;
            </a>
        <% } else { %>
            &gt;
        <% } %> 
    </div>
</div>