<head>
    <link rel="stylesheet" href="/css/whats_in_my_back.css">
</head>
<div class="collect_container">
    <h1>좋아요한 글</h1>
    <div class="collect_user">
        <div class="profilePhoto" style=" cursor: pointer;" onclick="location.href='/profile/<%= member.member_id %>';">
            <img id="profileImage" alt="프로필 이미지">
            <input type="hidden" id="picture_base64" name="picture_base64" value="<%= member.picture_base64 %>">
        </div>
        <h1>
            <%= member.nickname %>
        </h1>
    </div>
    <div class="feed">
        <% if (likes.length !== 0) { %>
            <div id="card" class="row row-cols-1 row-cols-md-3 g-4">
                <% likes.forEach(like=> { %>
                    <div class="col">
                        <div class="post" style=" cursor: pointer;" onclick="location.href='/post/<%= like.post_id %>/detail';">
                            <div class="postPhoto">
                                <img src="<%= like.image_base64 %>"
                                        alt="게시글 이미지">
                            </div>
                            <h5 class="post_title"><%= like.post_title %>
                            </h5>
                            <p class="card-text"><%= like.theme_name %>
                            </p>
                        </div>
                    </div>
                    <% }); %>
            </div>
        <% } else { %>
            <div class="center-container">
                <p>좋아요한 게시글이 없습니다.</p>
                <a href="/profile/<%= member.member_id %>" style="text-decoration: none; color: #000000; background-color: #F8F8F8; padding: 10px; border-radius: 5px;">
                    프로필로 돌아가기
                </a>
            </div>
        <% }; %>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const profileImage = document.getElementById('profileImage');
        const pictureBase64Input = document.getElementById('picture_base64');

        if (pictureBase64Input && pictureBase64Input.value) {
            profileImage.src = pictureBase64Input.value;
        } else {

            const defaultImagePath = "/images/default_profile.jpg"
            profileImage.src = defaultImagePath;
        }
    });
</script>