<div class="profileBord">
    <div class="left">
        <h1>
            <%= member.nickname %>
        </h1>
        <div class="profilePhoto">
            <img id="profileImage" alt="프로필 이미지">
        </div>
        <div class="prifileBio">
            <%= member.bio %>
        </div>
        <div class="profileFollow">
            <div class="select">
                <input type="radio" id="following" name="btn" onclick="fbtn_click(this.id)" checked><label
                    for="following">팔로잉 <%= member.followeeCount %></label>
                <input type="radio" id="follower" name="btn" onclick="fbtn_click(this.id)"><label for="follower">팔로워 <%=
                        member.followerCount %></label>
            </div>
            <div class="follow_container" , id="follow_container">
                <% followees.forEach(followee=> { %>
                    <div class="follow_profile">
                        <div class="photo" style=" cursor: pointer;"
                            onclick="location.href='/profile/<%= followee.member_id %>';">
                            <img id="followImage" alt="프로필 이미지" src="/images/default_profile.jpg">
                        </div>
                        <a href="/profile/<%= followee.member_id %>" class="follow_name">
                            <%= followee.nickname %>
                        </a>
                        <button onclick="followb_click(<%= member.member_id %>, <%= followee.member_id %>, this)">
                            <% if (followee.is_following) { %>
                                언팔로우
                                <% } else { %>
                                    팔로우
                                    <% } %>
                        </button>
                    </div>
                    <% }); %>
            </div>
        </div>
        <div class="profileCon">

            <a href="/profile/<%= member.member_id %>/collectComment/1">
                <span class="button">내가 쓴 댓글</span>
            </a>
            <a href="/profile/<%= member.member_id %>/collectBookmark">
                <span class="button">북마크한 글</span>
            </a>
            <a href="/profile/<%= member.member_id %>/collectLike">
                <span class="button">좋아요 한 글</span>
            </a>
            <a href="/profile/<%= member.member_id %>/profileModified">
                <span class="button">설정</span>
            </a>
        </div>
    </div>
    <div class="right">
        <div class="post_container">
            <% if (posts.length !==0) { %>
                <div id="card" class="row row-cols-1 row-cols-md-2 g-4">
                    <% posts.forEach(post=> { %>
                        <div class="col">
                            <div class="post">
                                <div class="postPhoto">
                                    <img src="https://2.bp.blogspot.com/-svDfXHlWFXc/UxWxzy1zzXI/AAAAAAAACAE/3NmmqvGgnjo/s1600/[Whats+in+my+bag+blogger].jpg"
                                        alt="게시글 이미지">
                                </div>
                                <h5 class="post_title">
                                    <%= post.post_title %>
                                </h5>
                                <p class="card-text">
                                    <%= post.theme_name %>
                                </p>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <% } else { %>
                    <div class="center-container">
                        <p>작성한 게시글이 없습니다.</p>
                    </div>
                    <% }; %>
        </div>

    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const profileImage = document.getElementById('profileImage');
        const pictureBase64Input = document.getElementById('picture_base64');
        const defaultImagePath = "/images/default_profile.jpg"

        if (pictureBase64Input && pictureBase64Input.value) {
            profileImage.src = pictureBase64Input.value;
        } else {
            profileImage.src = defaultImagePath;
        }
    });

    function followb_click(member_id, follow_id, button) {
        is_following = (button.innerText == '언팔로우') ? true : false;
        const followUrl = `/profile/${member_id}/${follow_id}`;
        const config = {
            method: is_following ? "DELETE" : "PUT"
        };

        fetch(followUrl, config)
            .then(response => response.json())
            .catch(error => console.log('Fetch error: ', error));
        
        is_following = !is_following
        button.innerText = is_following ? '언팔로우' : '팔로우';
    }

    //팔로잉 보기 또는 팔로워 보기 컨트롤
    function fbtn_click(check) {
        if (check == "following") {
            let container = document.getElementById('follow_container');

            let html = '';
        <% followees.forEach(followee => { %>
                html += `
                <div class="follow_profile">
                    <div class="photo" style=" cursor: pointer;" onclick="location.href='/profile/<%= followee.member_id %>';">
                        <img id= "followImage" alt="프로필 이미지" src="/images/default_profile.jpg">
                    </div>
                    <a href="/profile/<%= followee.member_id %>" class="follow_name"><%= followee.nickname %></a>
                    <button onclick="followb_click(<%= member.member_id %>, <%= followee.member_id %>, this)">
                            <% if (followee.is_following) { %>
                            언팔로우
                            <% } else { %>
                            팔로우
                            <% } %>
                        </button>
                </div>`;
        <% }); %>
                container.innerHTML = html;
        }
        else {
            let container = document.getElementById('follow_container');

            let html = '';
        <% followers.forEach(follower => { %>
                html += `
                <div class="follow_profile">
                    <div class="photo" style=" cursor: pointer;" onclick="location.href='/profile/<%= follower.member_id %>';">
                        <img id= "followImage" alt="프로필 이미지" src="/images/default_profile.jpg">
                    </div>
                    <a href="/profile/<%= follower.member_id %>" class="follow_name"><%= follower.nickname %></a>
                    <button onclick="followb_click(<%= member.member_id %>, <%= follower.member_id %>, this)">
                            <% if (follower.is_following) { %>
                            언팔로우
                            <% } else { %>
                            팔로우
                            <% } %>
                        </button>
                </div>`;
        <% }); %>

                container.innerHTML = html;
        }
    };

</script>