<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
  <link rel="stylesheet" href="/public/bootstrap.min.css">
  <style>
    .card-link {
        text-decoration: none;
        color: inherit;
    }
    .card-img-container {
        height: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /*css 파일에서 변경 시도했으나 색상변경안됨. posts.ejs에서 변경시도함*/
    .hashtag-button {
      display: inline-block;
      background-color: #ffffff; /* 백그라운드 색상을 하얀색으로 변경 */
      color: #6c757d; /* 텍스트 색상을 회색으로 유지 */
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      border-radius: 0.25rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      border: 1px solid #6c757d; /* 1px 두께의 회색 테두리 */
      border-radius: 1rem; /* 모서리 라운드로 만들기 */
    }
    .pagination {
      display: flex;
      justify-content: center; /* 페이지네이션 인덱스를 중앙으로 정렬 */
      list-style: none; /* 기본 리스트 스타일 제거 */
      padding: 0; /* 기본 패딩 제거 */
    }
    .pagination .page-link {
      color: black; /* 페이지 링크를 검정색으로 변경 */
      margin: 0 5px; /* 링크 사이의 간격 추가 */
    }
    .pagination .page-item.active .page-link {
      background-color: rgb(105, 105, 105); /* 현재 페이지의 배경을 딤 그레이로 변경 */
      border-color: rgb(105, 105, 105); /* 현재 페이지의 테두리도 딤 그레이로 변경 */
    }
  </style>
</head>
<body>
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>게시글</h1>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <input type="hidden" id="query" value="<%= selectedOpt.query %>">
    <h4 style="margin: 15px;">게시글 - <%= selectedOpt.query %> 검색 결과</h4>

    <label for="theme_id">테마 선택: </label>
    <select name="theme_id" id="theme_id" onchange="searchPosts(1)" style="margin: 10px;">
      <option value="all" <%= !selectedOpt.theme ? 'selected' : '' %>>전체</option>
      <% themes.forEach(function(theme) { %>
        <option value="<%= theme.theme_id %>" <%= theme.theme_id == selectedOpt.theme ? 'selected' : '' %>><%= theme.theme_name %></option>
      <% }); %>
    </select>

    <label for="theme_id">정렬 선택: </label>
    <select id="sortSelect" onchange="searchPosts(1)" style="margin: 10px;">
      <option value="latest" <%= selectedOpt.sortBy == 'latest' ? 'selected' : '' %>>최신순</option>
      <option value="views" <%= selectedOpt.sortBy == 'views' ? 'selected' : '' %>>조회순</option>
      <option value="comments" <%= selectedOpt.sortBy == 'comments' ? 'selected' : '' %>>댓글순</option>
      <option value="likes" <%= selectedOpt.sortBy == 'likes' ? 'selected' : '' %>>좋아요순</option>
      <option value="bookmarks" <%= selectedOpt.sortBy == 'bookmarks' ? 'selected' : '' %>>북마크순</option>
    </select>
  </div>
</div>


<% if (!Previews || Previews.length === 0) { %>
  <p>No posts found.</p>
<% } else { %>
  <div class="row">
      <% Previews.forEach(Preview => { %>
          <div class="col-md-4 mb-3">
              <a href="/post/<%= Preview.post_id %>/detail" class="card-link">
                  <div class="card">
                      <div class="card-img-container">
                          <img src="<%= Preview.thumbnail %>" class="card-img-top" alt="Post Image">
                      </div>
                      <div class="card-body">
                          <h5 class="card-title"><%= Preview.post_title %></h5>
                          <p style="font-size: 12px" class="card-text"><%= Preview.post_content.substring(0, 100) %>...</p>
                          <div class="mb-2">
                              <% Preview.hashtags.split(' ').forEach(hashtag => { %>
                                  <span class="hashtag-button"><%= hashtag %></span>
                              <% }) %>
                          </div>
                          <p style="font-size: 12px" class="card-text">작성자: <%= Preview.nickname %></p>
                          <p style="font-size: 12px" class="card-text">작성일: <%= formatDate(Preview.created_at) %></p>
                          <div class="d-flex justify-content-between align-items-center mt-2">
                              <small class="text-muted">조회수: <%= Preview.views %></small>
                              <small class="text-muted">댓글: <%= Preview.comment_count %></small>
                              <small class="text-muted">북마크: <%= Preview.bookmark_count %></small>
                              <small class="text-muted">좋아요: <%= Preview.like_count %></small>
                          </div>
                      </div>
                  </div>
              </a>
          </div>
      <% }) %>
  </div>

<% } %>
<!-- 페이지네이션 링크 -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
      <% 
          const maxPagesToShow = 10;
          const startPage = Math.floor((selectedOpt.page - 1) / maxPagesToShow) * maxPagesToShow + 1;
          const endPage = Math.min(startPage + maxPagesToShow - 1, totalPages);
      %>

      <% if (startPage > 1) { %>
          <li class="page-item">
              <a class="page-link" href="javascript:void(0);" onclick="searchPosts(<%= startPage - 1 %>)">Previous</a>
          </li>
      <% } %>

      <% for(let i = startPage; i <= endPage; i++) { %>
          <li class="page-item <%= i === selectedOpt.page ? 'active' : '' %>">
              <a class="page-link" href="javascript:void(0);" onclick="searchPosts(<%= i %>)"><%= i %></a>
          </li>
      <% } %>

      <% if (endPage < totalPages) { %>
          <li class="page-item">
              <a class="page-link" href="javascript:void(0);" onclick="searchPosts(<%= endPage + 1 %>)">Next</a>
          </li>
      <% } %>
  </ul>
</nav>

<input type="hidden" id="Datas" value='<%= JSON.stringify(Previews) %>'>

</body>
</html>

<script>
  function searchPosts(page) {
      var sortValue = document.getElementById("sortSelect").value;
      var themeId = document.getElementById("theme_id").value;
      var query = encodeURIComponent(document.getElementById("query").value);
      window.location.href = `/post/search?page=${page}&sortBy=${sortValue}&theme=${themeId}&query=${query}`;
  }
</script>