<%- include('../layouts/main') %>
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>게시글</h1>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>게시글 - <%= query %> 검색 결과  </h4>
    <select id="sortSelect" onchange="sortPosts()">
        <option value="latest">최신순</option>
        <option value="views">조회순</option>
        <option value="likes">좋아요순</option>
    </select>
  </div>
</div>

<% if (Previews.length === 0) { %>
  <p>No posts found.</p>
<% } else { %>
  <div class="row">
    <% Previews.forEach(Preview => { %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <img src="<%= Preview.thumbnail %>" class="card-img-top" alt="Post Image">
          <div class="card-body">
            <h5 class="card-title"><%= Preview.post_title %></h5>
            <p style="font-size: 12px" class="card-text"><%= Preview.post_content.substring(0, 100) %>...</p>
            <p style="font-size: 12px" class="card-text"><%= Preview.hashtags %></p>
            <p style="font-size: 12px" class="card-text">작성자: <%= Preview.nickname %></p>
            <p style="font-size: 12px" class="card-text">작성일: <%= Preview.created_at %></p>
            <div class="d-flex justify-content-between align-items-center mt-2">
              <small class="text-muted">조회수: <%= Preview.views %></small>
              <small class="text-muted">댓글: <%= Preview.comment_count %></small>
              <small class="text-muted">북마크: <%= Preview.bookmark_count %></small>
              <small class="text-muted">좋아요: <%= Preview.like_count %></small>
            </div>
          </div>
          <div class="card-footer">
            <a href="/post/<%= Preview.post_id %>/detail" class="btn btn-dark btn-sm">View Post</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
<% } %>

<input type="hidden" id="Datas" value='<%= JSON.stringify(Previews) %>'>

<script>

    function sortPosts() {
        var sortValue = document.getElementById("sortSelect").value;
        var query = encodeURIComponent(document.getElementById("query").value);
        window.location.href = "/search/" + sortValue + "/?query=" + query;
    }

</script>