<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsInMyBag</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            height: 100vh;
        }

        .container {
            height: auto;
            width: 100%;
            min-height: 63%;
        }

        .flash {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            font-weight: bold;
        }

        .flash.success {
            background-color: #4CAF50;
            color: white;
        }

        .flash.error {
            background-color: #f44336;
            color: white;
        }
    </style>
</head>


<%- include('partials/header') %>

    <body>
        <div>
            <% if (flashMessages) { %>
                <% if (flashMessages.success) { %>
                    <div class="flash success">
                        <%= flashMessages.success %>
                    </div>
                    <% } else if (flashMessages.error) { %>
                        <div class="flash error">
                            <%= flashMessages.error %>
                        </div>
                        <% } %>
                            <% } %>
        </div>
        <div class="container">
            <%- include('layouts/main') %>
                <%- body %>
        </div>
    </body>

    <%- include('partials/footer') %>

</html>